<div class="container-fluid" id="headStatus" (click)="openBody()">
    
    <label class="switch">
        <input (change)="valor()" [checked]="dado.status" type="checkbox" >
        <span class="slider round"></span>
    </label>

    {{dado.nome}}

    <span>
        <button class="btn btn-success">Salvar</button>
    </span>
</div>

<p id="bodyStatus" [style.display]=" open ? 'block' : 'none'">
    <textarea class="form-control">

    </textarea>
    <button class="btn btn-primary"> Enviar Mensagem Fix</button>
</p>