.mar{
    width: 10px;
    height: 10px;
    background-color: blue;
}

.terra{
    width: 10px;
    height: 10px;
    background-color: red;
}

.terra1{
    width: 10px;
    height: 10px;
    background-color: green;
}

.terra2{
    width: 10px;
    height: 10px;
    background-color: yellow;
}

.terra3{
    width: 10px;
    height: 10px;
    background-color: purple;
}

.terra4{
    width: 10px;
    height: 10px;
    background-color: red;
}